:root {
    --navbar : #061339;
    --premierBloc : #B9CDFF;
    --titreh1 : #FFF;
    --autrestitres : #2F4073;
	--footer : #061339;
    --têtechatdéfaut : #7885A5;
    --têtechathover : #061339;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merienda', cursive;
}

/* NAVABAR */

.navbar {
    height: 50px;
    background-color: var(--navbar);
}

.navbar h1 {
    color: var(--titreh1);
    font-size: 1.5em; 
}

/* STYLE JUMBOTRON */

.jumbotron {
    height: 180px;
    background-image: url(../img/background.jpg);
    background-repeat: repeat;
    margin-bottom: 40px;
}

.jumbotron h2 {
    color: var(--titreh1);
    line-height: 180px;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
}

/* style pour transformer les indicateurs du carousel en point  */
.carousel .carousel-indicators li {
    width: 10px;
   height: 10px;
   border-radius: 100%;
 }